body{
 height: 100%;
 width: 100%;
}


.flex-container{
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
}

.logo{
      width: 30%;
      height: 30%;
      justify-content: left;
    }

.text{
    justify-content: right;
    align-items: 
   
  }

.text2{
    justify-content: right;
   }

.text3{
    justify-content: right;
}

.text4{ 
    justify-content: left;
 }

.pics{ 
    display: flex;
    justify-content: space-evenly;
    justify-items: auto;
    width: 40px;
    height: 40px;
}


footer{
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: left;
    padding-right: 30%
}